<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>festabook</string>

        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />

        <key>CFBundleShortVersionString</key>
		<string>2.1.0</string>

        <key>CFBundleVersion</key>
		<string>20100</string>

        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>itms-apps</string>
        </array>
        <key>UIBackgroundModes</key>
        <array>
            <string>remote-notification</string>
        </array>
        <key>FirebaseAppDelegateProxyEnabled</key>
        <false/>
    </dict>
</plist>
